<!doctype html>
<html lang="en">
  <head>

    <title>
      Tic Tac Toe
    </title>

    <link rel="stylesheet" href="static/colors.css">
    <link rel="stylesheet" href="static/stylish.css">

  </head>

  <body>

    <form action="" method="post" class="centered" style="width:400px;">
      <fieldset id="color">
	<legend>Escoge tu forma!</legend>
	<input type="radio" name="color" value="1" checked="checked"> Cruz <br/>
	<input type="radio" name="color" value="2" > Circulo <br/>
      </fieldset>

      <fieldset>
	<legend>Deseas tener el primer turno?</legend>
	<input type="radio" name="order" value="1" checked="checked"> Si <br/>
	<input type="radio" name="order" value="2" > No <br/>
      </fieldset>
      <input type="submit" value="Play!">
    </form>

  </body>

</html>
